Concrete Compressive Strength Analysis:

In [ ]:
"""""
Concrete is widely regarded as the second-most utilized raw material globally, exceeded in usage only by water.
#The exceptional compressive strength of concrete underpins its widespread utility across diverse applications.
#Within the context of this study, our aim is to examine and analyze the interrelationships that exist between the various constituents present in concrete,
the age of the concrete, and their combined effect on the material's ultimate compressive strength. The primary focus of our analysis is centered on the target variable,
that is, the compressive strength of the concrete. """

In [ ]:
#here are some definition regarding the engineering terms that is used in this data set:


# Cement: A fine powder made of limestone and other materials that when mixed with water, forms a paste that binds together the aggregates to create concrete.

# Blast Furnace: A furnace used in the production of cement, where limestone, clay, and iron ore are heated together to form clinker, which is then ground into cement.

# Fly Ash: A byproduct of burning coal that can be used as a supplementary cementitious material in concrete, improving its strength, durability, and workability.

# Superplasticizer: A chemical additive used in concrete to improve its flow and workability without increasing water content, allowing for a stronger and more durable concrete.

# Coarse Aggregate: Larger stones or gravel used in concrete that provide structural support and help reduce shrinkage.

# Fine Aggregate: Smaller particles such as sand used in concrete that fill in the gaps between the larger coarse aggregates and help create a smooth surface

###Units for Strength is Mpa and for rest of the features is Kg in a m3, except for age which is Days.###

Importing the Libraries:

In [87]:
# Importing libraries to work with 

import pandas as pd
import numpy as np

Importing the Data Set:

In [88]:
# Import the CSV file of Data Set

df = pd.read_csv('E:\Bootcamp CT\Week_6\Assignments\Week_Project\Concrete Compressive Strength.csv')

Quick look at the Data Set:

In [89]:
# View the first few rows of the data
display(df.head())

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day),"Concrete compressive strength(MPa, megapascals)"
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075

In [62]:
# showing the shape of data set
df.shape

(1030, 9)

In [90]:
# Check the data types of each column
display(df.dtypes)

Cement (component 1)(kg in a m^3 mixture)                float64
Blast Furnace Slag (component 2)(kg in a m^3 mixture)    float64
Fly Ash (component 3)(kg in a m^3 mixture)               float64
Water  (component 4)(kg in a m^3 mixture)                float64
Superplasticizer (component 5)(kg in a m^3 mixture)      float64
Coarse Aggregate  (component 6)(kg in a m^3 mixture)     float64
Fine Aggregate (component 7)(kg in a m^3 mixture)        float64
Age (day)                                                  int64
Concrete compressive strength(MPa, megapascals)          float64
dtype: object

Going through the details

In [91]:
# Displaying name of the columns in the Data Set
display(df.columns)

Index(['Cement (component 1)(kg in a m^3 mixture)',
       'Blast Furnace Slag (component 2)(kg in a m^3 mixture)',
       'Fly Ash (component 3)(kg in a m^3 mixture)',
       'Water  (component 4)(kg in a m^3 mixture)',
       'Superplasticizer (component 5)(kg in a m^3 mixture)',
       'Coarse Aggregate  (component 6)(kg in a m^3 mixture)',
       'Fine Aggregate (component 7)(kg in a m^3 mixture)', 'Age (day)',
       'Concrete compressive strength(MPa, megapascals) '],
      dtype='object')

Renaming the Columns:

In [92]:
# Rename the columns to more user-friendly and non-scientific names

df.rename(columns=
          {
    'Water  (component 4)(kg in a m^3 mixture)': 'Water',
      'Superplasticizer (component 5)(kg in a m^3 mixture)': 'Superplasticizer',
        'Cement (component 1)(kg in a m^3 mixture)': 'Cement',
        'Blast Furnace Slag (component 2)(kg in a m^3 mixture)' : 'Blast Furnace',
        'Fly Ash (component 3)(kg in a m^3 mixture)':' FlyAsh',
        'Coarse Aggregate  (component 6)(kg in a m^3 mixture)': 'Coarse Aggregate',
         'Fine Aggregate (component 7)(kg in a m^3 mixture)': 'Fine Aggregate',
         'Concrete compressive strength(MPa, megapascals) ': 'Strength',
         'Age (day)': 'Age'},
          inplace=True)

In [93]:
df.columns

Index(['Cement', 'Blast Furnace', ' FlyAsh', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [94]:
#look at the Data in a simpler shape
display(df)

,Cement,Blast Furnace,FlyAsh,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.284354
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.178794
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.696601
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.768036
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.401235

In [95]:
# Check for missing values

display(df.isna().sum())

Cement              0
Blast Furnace       0
 FlyAsh             0
Water               0
Superplasticizer    0
Coarse Aggregate    0
Fine Aggregate      0
Age                 0
Strength            0
dtype: int64

In [96]:
# Checking for duplicated values in the data set

df.duplicated().sum()

25

In [97]:
df = df.drop_duplicates()
display(df)

,Cement,Blast Furnace,FlyAsh,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.284354
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.178794
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.696601
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.768036
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.401235

In [98]:
df = df.round()
df

,Cement,Blast Furnace,FlyAsh,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.0,1040.0,676.0,28,80.0
1,540.0,0.0,0.0,162.0,2.0,1055.0,676.0,28,62.0
2,332.0,142.0,0.0,228.0,0.0,932.0,594.0,270,40.0
3,332.0,142.0,0.0,228.0,0.0,932.0,594.0,365,41.0
4,199.0,132.0,0.0,192.0,0.0,978.0,826.0,360,44.0
...,...,...,...,...,...,...,...,...,...
1025,276.0,116.0,90.0,180.0,9.0,870.0,768.0,28,44.0
1026,322.0,0.0,116.0,196.0,10.0,818.0,813.0,28,31.0
1027,148.0,139.0,109.0,193.0,6.0,892.0,780.0,28,24.0
1028,159.0,187.0,0.0,176.0,11.0,990.0,789.0,28,33.0
1029,261.0,100.0,78.0,201.0,9.0,864.0,762.0,28,32.0

Statistical info from the Data:

In [99]:
# showing the statistical features of the data 
df.describe()

,Cement,Blast Furnace,FlyAsh,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1005.000000,1005.000000,1005.000000,1005.000000,1005.000000,1005.000000,1005.000000,1005.000000,1005.000000
mean,278.651741,72.036816,55.550249,182.112438,6.040796,974.382090,772.701493,45.856716,35.250746
std,104.327843,86.157340,64.216150,21.349079,5.915181,77.593096,80.353034,63.734692,16.289855
min,102.000000,0.000000,0.000000,122.000000,0.000000,801.000000,594.000000,1.000000,2.000000
25%,191.000000,0.000000,0.000000,167.000000,0.000000,932.000000,724.000000,7.000000,24.000000
50%,265.000000,20.000000,0.000000,186.000000,6.000000,968.000000,780.000000,28.000000,34.000000
75%,349.000000,142.000000,118.000000,193.000000,10.000000,1031.000000,822.000000,56.000000,45.000000
max,540.000000,359.000000,200.000000,247.000000,32.000000,1145.000000,993.000000,365.000000,83.000000

In [100]:
#see how the data frame looks like
df.head(20)

,Cement,Blast Furnace,FlyAsh,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.0,1040.0,676.0,28,80.0
1,540.0,0.0,0.0,162.0,2.0,1055.0,676.0,28,62.0
2,332.0,142.0,0.0,228.0,0.0,932.0,594.0,270,40.0
3,332.0,142.0,0.0,228.0,0.0,932.0,594.0,365,41.0
4,199.0,132.0,0.0,192.0,0.0,978.0,826.0,360,44.0
5,266.0,114.0,0.0,228.0,0.0,932.0,670.0,90,47.0
6,380.0,95.0,0.0,228.0,0.0,932.0,594.0,365,44.0
7,380.0,95.0,0.0,228.0,0.0,932.0,594.0,28,36.0
8,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28,46.0
9,475.0,0.0,0.0,228.0,0.0,932.0,594.0,28,39.0
10,199.0,132.0,0.0,192.0,0.0,978.0,826.0,90,38.0
11,199.0,132.0,0.0,192.0,0.0,978.0,826.0,28,28.0
12,428.0,48.0,0.0,228.0,0.0,932.0,594.0,270,43.0
13,190.0,190.0,0.0,228.0,0.0,932.0,670.0,90,42.0
14,304.0,76.0,0.0,228.0,0.0,932.0,670.0,28,48.0
15,380.0,0.0,0.0,228.0,0.0,932.0,670.0,90,53.0
16,140.0,209.0,0.0,192.0,0.0,1047.0,807.0,90,39.0
17,342.0,38.0,0.0,228.0,0.0,932.0,670.0,365,56.0
18,380.0,95.0,0.0,228.0,0.0,932.0,594.0,90,41.0
19,475.0,0.0,0.0,228.0,0.0,932.0,594.0,180,43.0

Storing the cleaned Data Set

In [101]:
#saving the cleaned and prepared data set to a CSV file for further stpes

df.to_csv('Concrete_Analysis.csv', index=False)